*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: linear-gradient(to right, #2962FF, #7B61FF);
    color: white;
    height: 60px;
    border: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
ul li {
    white-space: nowrap;
}
ul li a {
    color: white;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body { 
    background: url('./assets/fotoFundo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Garante que ocupa a tela inteira */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo na tela */
    flex-direction: column; /* Alinha tudo de forma vertical */
    padding-top: 80px; /* Para garantir que o header não cubra o conteúdo */
}
main {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px; 
    padding-bottom: 40px; /* Espaço extra antes do footer */

}
main img {
    width: 100px;
    display: flex;
    flex-direction:column;
}
.apresentação {
    width: 80%;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9); /* Fundo preto com 80% de opacidade */
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}
.apresentação h1,
.apresentação p {
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombras para dar destaque ao texto */
}
.tech {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cria colunas de no mínimo 200px e se ajusta para o tamanho da tela */
    justify-content: center; /* Centraliza as colunas */
    justify-items: center; /* Centraliza cada item dentro das colunas */
    gap: 20px; /* Espaço entre as imagens */
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}
.tech img {
    width: 100%;
    max-width: 100px; /* Garantir que as imagens não fiquem muito grandes */
    object-fit: contain; /* Manter as proporções corretas das imagens */
    border-radius: 10px; /* Bordas arredondadas nas imagens */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra mais forte para dar destaque */
    border: 3px solid rgba(255, 255, 255, 0.8); /* Borda mais forte e mais visível */
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
}
footer {
    background: linear-gradient(to right, #2962FF, #7B61FF);
    color: white;
    padding: 0;
    height: 60px;
    border: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-top: auto;
    position: relative;
}